@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var candys = (QuickTypeCandy.Candy[])ViewData["Candy"];
}

    <div class="text-center">
        <h1 class="display-4">Trick or Treat!</h1>
        <table>
            <tr>
                <th>Description</th>
                <th>Score</th>

            </tr>
            @{
                foreach (QuickTypeCandy.Candy candy in candys)  
                {
                        <tr>
                            <td>@candy.Description</td>
                            <td>@candy.Score</td>
         
                        </tr>
                }
            }


        </table>

    </div>
