@page
@model IndexModel
@{
    ViewData["Title"] = "Trick Or Treat!";
    var candys = (QuickTypeCandy.Candy[])ViewData["Candy"];
    
    var weatherMessage = ViewData["WeatherMessage"];

}

    <div class="text-center">
        <h1 class="display-4">Trick or Treat!</h1>
        <h2>@weatherMessage</h2>
        <h3>Be on the lookout for these tasty treats!</h3>
        <br />
        <br />
        <br />

        <table class="table table-striped table-hover table-danger">
            <tr>
                <th>Description</th>
                <th>Score</th>

            </tr>
            @{
                foreach (QuickTypeCandy.Candy candy in candys)
                {
                    <tr>
                        <td>@candy.Description</td>
                        <td>@candy.Score</td>

                    </tr>
                }
            }


        </table>

    </div>
